# Database
DATABASE_URI=mongodb://127.0.0.1/neet

# Payload
PAYLOAD_SECRET=CHANGE_ME_TO_A_RANDOM_SECRET

# Site
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Optional: Node environment
NODE_ENV=development
